
body {
    outline-style: dotted;
    padding: 30px;
}
p {
    color: brown;
}
h1 {
    text-align: center;
    color: rgb(76, 4, 143);
    padding: 30px;
    
}
p {
    border: 2px solid powderblue;
    padding: 30px;
  }
